.datatable{
    height: 600px;
    padding: 20px;

    .cellAction{
        display: flex;
        align-items: center;
        gap: 15px;

        .viewButton{
            padding: 2px 5px;
            border-radius: 5px;
            color: darkblue;
            cursor: pointer;
            border: 1px dotted rgba(0, 0, 139, 0.596)
        }

        .deleteButton{
            padding: 2px 5px;
            border-radius: 5px;
            color: crimson;
            cursor: pointer;
            border: 1px dotted rgba(220, 20, 60, 0.6)
        }
    }

}