.top,
.bottom{
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(46, 46, 46, 0.47);
    padding: 10px;
    margin: 20px;

    h1{
        color: black;
        font-size: 20px;
        display: flex;
        justify-content: center;
    }

    .register__form--left{
        margin: auto;
    }

    .button{
        display: flex;
        justify-content: center;
        
        button:first-child{
            width: 150px;
            padding: 10px;
            border: none;
            background-color: red;
            color: white;
            font-weight: bold;
            cursor: pointer;
            margin-top: 10px;
        }
    
        button:last-child{
            width: 150px;
            padding: 10px;
            border: none;
            background-color: teal;
            color: white;
            font-weight: bold;
            cursor: pointer;
            margin-top: 10px;
        }
    }

}