.navbar{
    height: 67px;
    border-bottom: 0.5px solid rgb(197, 196, 196);
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;

    .wrapper{
        width: 100%;
        padding-left: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .search{
            display: flex;
            align-items: center;
            border: 0.5px solid lightgray;
            padding: 3px;
            input{
                border: none;
                outline: none;
                background: transparent;
                padding-left: 5px;
                
                &::placeholder{
                    font-size: 12px;
                }
            }
        }

        .items{
            display: flex;
            align-items: center;
            .item{
                display: flex;
                align-items: center;
                padding-right: 30px;
                .icon{
                    font-size: 20px;
                }
                .avatar{
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                }
            }
        }
    }
}