$spinner: #00ab9f;
$background: white;
$size: 30px;

.loadingPage {
  position: relative;
  height: 200px;
  background-color: $background;
}

.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: $size;
  height: $size;
  animation: spinner 0.75s linear infinite;

  &-inner {
    &-1 {
      background: linear-gradient(
        to right,
        rgba($spinner, 0) 0%,
        rgba($spinner, 0) 50%,
        $spinner 51%
      );
    }
    &-2 {
      background: linear-gradient(
        to top,
        rgba($background, 0) 0%,
        $background 100%
      );
    }
    &-3 {
      $offset: $size * 0.1;
      top: $offset;
      left: $offset;
      width: $size - ($offset * 2);
      height: $size - ($offset * 2);
      background: $background;
    }
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
